# dependencies
node_modules

# build
dist
*.tsbuildinfo
.vite
.netlify

# env & secrets
.env
.env.*
!.env.example
*.local

# logs & tests
*.log
coverage

# OS
.DS_Store

# editors
.idea

# Cursor
.cursor
